# Miscellaneous
*.class
*.jar
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
scratch/

# IntelliJ & VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
**/build/
/android/build/
/android/app/build/
.cxx/
/coverage/

# Android build outputs & local properties
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat

# Keystore & Signing Secrets
*.jks
*.keystore
key.properties

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Environment / Local Secrets
.env*
